$breakpoint:(
    sp:'screen and (max-width:599px)',
    tab:'screen and (max-width:1024px)',
    pc:'screen and (min-width:1025px)'
);

@mixin mq($size){
    @media #{map-get($breakpoint, $size)}{
        @content;
    }
}