$main: #6E551B;
$sub: #6F6142;
$green: #315452;
$blue: #313854;
$brown: #544031;
$black: #323232;
$white: #FFFFFF;
$gray: #E0E0E0;
$red: #FF0000;

$sans: 'Noto Sans JP';
$serif: 'Noto Serif JP';
$caslon: 'adobe-caslon-pro';